@import '~bootstrap/scss/bootstrap';

header {
    a {
        text-transform: uppercase;

    }
}

main {
    .jumbotron {
        background-image: url(../img/jumbotron.jpg);
        height: 425px;
        position: relative;
    }

    .adv {
        position: absolute;
        bottom: -20px;
    }
}